.select {
	width: 150px;
	height: 30px;
	margin-top: 32px;
	margin-left: 50px;
}
.galery-films {
	display: flex;

	flex-wrap: wrap;

	justify-content: space-around;
}
.card-film {
	margin: 25px 35px;
	width: 175px;

	figure {
		margin: 0;
		img {
			border-radius: 10px;
			box-shadow: 0 2px 4px black;
			width: 175px;
			height: 262.5px;
		}
	}
	&:hover {
		.vote,
		.date {
			display: block;
			position: absolute;
			color: white;
			z-index: 2;
		}
	}
}
.date {
	margin-top: 236px;
}

