<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Example</title>
</head>

<body>
	<div class="container">
		<header class="header">

			<a href="#" class="home-page">
			</a>
			<span class="user-name">Username</span>
			<button class="sign">Sign in/Sign up</button>

		</header>
		<main>
			<select class="select" name="" id="">
				<option value="none" selected>none</option>
				<option value="">Rating Descending</option>
				<option value="">Rating Ascending</option>
				<option value="">Release Date Descending</option>
				<option value="">Release Date Ascending</option>
			</select>
			<section class="galery-films">
				<!-- <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       		  <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       		  <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       		 <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       			<div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
     
       		 <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       	
       		  <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
       		</div>
       <div class="card-film">
       			 <figure>
                <img src="" alt="">
                 <figcaption></figcaption>
             </figure>
           </div> -->
			</section>
			<!-- <section class="pagination-buttons">
				<button type="button" class="page-btn start-page">start</button>
				<button type="button" class="page-btn prev-page">prev</button>
				<button type="button" class="page-btn active">1</button>
				<button type="button" class="page-btn">2</button>
				<button type="button" class="page-btn">3</button>
				<button type="button" class="page-btn">4</button>
				<button type="button" class="page-btn">5</button>
				<button type="button" class="page-btn">6</button>
				<button type="button" class="page-btn">7</button>
				<button type="button" class="page-btn">8</button>
				<button type="button" class="page-btn">9</button>
				<button type="button" class="page-btn">10</button>
				<button type="button" class="page-btn next-page">next</button>
				<button type="button" class="page-btn end-page">end</button>
			</section> -->
		</main>
	</div>
</body>

</html>